@import "fonts";
@import "variables";
@import "mixints";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include font();
}
*, *::before, *::after {
  box-sizing: inherit;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0 0 0;
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: flex;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
//svg:hover path {
//  transition: 1s all;
//  color: $LightBrownTheme;
//  fill: $LightBrownTheme;
//}