//@font-face {
//  font-family: 'Arial Black';
//  font-style: normal;
//  font-weight: 400;
//  src: local(''),
//  url('../../assets/fonts/arial/arial-black.ttf') format('ttf');
//}
@font-face {
  font-family: 'Arial Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../assets/fonts/arial/arial-regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../assets/fonts/georgia/georgia-regular.ttf') format('ttf');
}